# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
out

# Environment variables
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Testing
coverage

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml

# Deploy
deploy.log
backups/

# Misc
*.tsbuildinfo
